{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweet Analysis</title>
  </head>
  <body>
    <header>Samsung <br />Innovation Campus</header>
    <section>
      <h1>Hackathon<br />Bhubaneswar</h1>
      <div>
        <a href="{% url 'sentence' %}"><button>Analyse Phraze</button></a>
        <a href="{% url 'tweets' %}"><button>Get Twitter Results</button></a>
      </div>
    </section>
    <footer>
      <p>Together for tomorrow!</p>
      <h2>Enabeling People</h2>
      <h5>Education for future Generations</h5>
    </footer>
  </body>
</html>
