{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweet Analysis</title>
  </head>
  <body>
    <header>Samsung <br />Innovation Campus</header>
    <section>
      <h1>Hackathon<br />Bhubaneswar</h1>
      <div>
        <form method="post" action="{% url 'sentence' %}">
          {% csrf_token %}
        <input type="textarea" name="sent" cols="30" rows="10"></textarea>
        <input type="submit" value="Analyse">
      </form>
        <!--<p>Analysing Result ...</p>-->
        <h2>{{polarity}}</h2>
      </div>
    </section>
    <footer>
      <p>Together for tomorrow!</p>
      <h2>Enabeling People</h2>
      <h5>Education for future Generations</h5>
    </footer>
  </body>
</html>
